[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
psycopg2-binary = "*"
djangorestframework = "*"
coverage = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
firebase-admin = "*"
django-filter = "*"
python-decouple = "*"
python-dotenv = "*"
django-extensions = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
pyjwt = "*"
dj-database-url = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
